---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page ejemplo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="saas Web Demo"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: '/' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Simplifica el diseño web con <span class="font-semibold">[Nombre de tu empresa]</span>: <br />
      tu socio ideal para soluciones digitales <span class="text-accent dark:text-white highlight">personalizadas</span
      ><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non
        consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum
        perspiciatis! <span class="font-semibold">Astro</span>'s SaaS solutions.</span
      >
      Lorem ip dolor sit amet consecteetru.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    title="Detalles"
    subtitle="Explora las principales características que hacen que nuestras soluciones sean ideales para tu negocio."
    columns={2}
    items={[
      {
        title: 'Integración de tecnologías modernas',
        description:
          'Combinamos herramientas avanzadas como Astro 4.0 y Tailwind CSS para ofrecer sitios web dinámicos, visualmente atractivos y de alto rendimiento.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Diseño versátil y personalizado',
        description: `Adaptamos nuestros diseños para startups, pequeñas empresas y grandes organizaciones, asegurándonos de que cada proyecto refleje la identidad única de tu marca.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Fácil personalización',
        description:
          'Facilitamos la creación de portafolios y sitios de marketing que destacan tus servicios, proyectos y casos de éxito, conectando con tu audiencia de manera efectiva.',
        icon: 'tabler:writing',
      },
      {
        title: 'Landing pages y blogs atractivos',
        description: `Creamos landing pages diseñadas para captar la atención de los visitantes y blogs que permiten compartir ideas, mantener a tu audiencia comprometida y mejorar tu presencia online.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Velocidad y código optimizado',
        description: `Nuestras soluciones garantizan tiempos de carga rápidos y un rendimiento fluido, mejorando la experiencia del usuario, el SEO y reduciendo las tasas de rebote.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Estructura optimizada para SEO',
        description: `Desarrollamos sitios con un código limpio, HTML semántico y prácticas modernas de SEO para aumentar la visibilidad de tu negocio en buscadores.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Use cases"
    subtitle="examples "
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!',
      },
      {
        title: 'Benefits:',
        description: `Alorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Startup success stories: <br /><span class="text-2xl">Launching with AstroWind</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!.`,
      },
      {
        title: 'Benefits:',
        description: `lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        SaaS showcase: <br /><span class="text-2xl">Streamlining user experience</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Benefits:',
        description: `Slorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Highlighting your work</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Description:',
        description: `lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo, quia alias nesciunt voluptatum non consectetur consequuntur hic quasi architecto neque nulla atque quidem doloremque. Quod labore expedita harum perspiciatis!`,
      },
      {
        title: 'Benefits:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Ofrecen servicios personalizados para mi negocio?',
        description:
          'Sí, en [Nombre de tu empresa] adaptamos nuestras soluciones para satisfacer las necesidades específicas de tu negocio. Ya sea un sitio web, una landing page o un portafolio, trabajamos contigo para garantizar resultados sobresalientes.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Puedo usar sus servicios para proyectos personales y comerciales?',
        description: `Por supuesto, nuestros servicios están diseñados para cualquier tipo de proyecto. Ya sea que estés comenzando un emprendimiento, necesites un sitio para tu empresa o desees un portafolio profesional, estamos aquí para ayudarte.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Necesito conocimientos técnicos para trabajar con ustedes?',
        description:
          'No es necesario. Nuestro equipo se encarga de todo el proceso, desde el diseño hasta la implementación, para que obtengas un producto final funcional y de alta calidad, sin necesidad de que tengas experiencia técnica.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Ofrecen soporte después de finalizar el proyecto?',
        description: `Sí, contamos con un equipo de soporte dedicado para ayudarte con cualquier duda o problema después del lanzamiento de tu sitio web. Nos aseguramos de que todo funcione a la perfección.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-100 dark:bg-gray-900"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
